.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px -4px rgba(0,0,0,0.75);
 background-color: white;
}
.shareWrapper{
    padding: 10px;
}
.shareTop
{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareInput{
    border: none;
    outline: none;
    width: 80%;
}
.shareHr{
    margin-top: 20px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions
{
    display: flex;
    align-items: center;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 10px;
}
.shareItem{
    font-size: 20px;
    margin-right: 6px;
}
.shareItem1{
    color: #D14D72;
}
.shareItem2{
    color: #0079FF;
}
.shareItem3{
    color: #03C988;
}
.shareItem4{
    color: #FF8400;
    
}
.shareOptionText{
    font-size: 15px;
    font-weight: 500;
}
.shareButton{
    border: none;
    padding: 7px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #1877f2 ;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}